body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Microsoft JhengHei”, Roboto, “Helvetica Neue”, Arial, sans-serif;
    line-height:1.5;
    box-sizing: border-box;
    margin: 0 auto;
    }

h1, h2, h3, h4, h5, h6{
    line-height:1.2;
    margin-bottom: 0px;
    }
    
img{
    display:block;
    max-width: 100%;
    height: auto;
}
.tittleFont{
    font-family:'Raleway';
}
.mb4{
    margin-bottom: 4px;
}
.ml4{
    margin-left: 4px;
}
.mr4{
    margin-right: 4px;
}
.py4{
    padding: 4px 0 4px 0;
}
.radius{
    border-radius:  8px;
}
.textGray{
    color: #00000099;
}
.textGray2{
    color:#FFFFFF98;
}
.w232 {
    width: 232px;
}
.w312{
    width: 312px;
}
.w140{
    width: 140px;
}
.px32{
    padding: 0 32px 0 32px;
}
.mb120{
    margin-bottom: 120px;
}
.w115 li{
    width: 115px;
}
.w635{
    width: 635px;
}